@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.9) !important;
    height: 5rem;
    padding: 2.5rem 6rem;
    z-index: 1 !important;
    width: 100%;
    position: sticky;
    box-shadow: 0 0 3px #000;
}

.logo{
    z-index: 2 !important;
}

.nav-item .nav-link{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin-left: 3rem;
}